/* IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,500&display=swap");
/* GLOBAL */

main {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Flex", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  max-width: 900px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-title {
  font-size: 1.8rem;
  margin-top: 3rem;
}

.label {
  font-size: 1.3rem;
  color: #787878;
  font-weight: 600;
}

/* GLOBAL ends */

/* HEADER */


/* GRIDS */

/* .container-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}
.header {
  grid-area: 1 / 1 / 2 / 2;
}
.details {
  grid-area: 2 / 1 / 3 / 2;
}
.experience {
  grid-area: 2 / 1 / 4 / 2;
}
.education {
  grid-area: 3 / 1 / 4 / 2;
}
.skills {
  grid-area: 4 / 1 / 5 / 2;
}
.footer {
  grid-area: 5 / 1 / 6 / 2;
} */

.container-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title title"
    "country phone";
}

.header-name-title {
  grid-area: title;
}

.header-country {
  grid-area: country;
}

.header-phone {
  grid-area: phone;
}

.container-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0px 50%;
  grid-auto-flow: row;
  grid-template-areas:
    "details-title details-title"
    "details-left details-right";
}

.details-title {
  grid-area: details-title;
}
.details-left {
  grid-area: details-left;
}
.details-right {
  grid-area: details-right;
}

.container-experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "experience-title experience-title"
    "experience-left experience-right";
}

.experience-title {
  grid-area: experience-title;
}

.experience-left {
  grid-area: experience-left;
}

.experience-right {
  grid-area: experience-right;
}

.container-education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "education-title education-title"
    "education-left education-right";
}

.education-title {
  grid-area: education-title;
}

.education-left {
  grid-area: education-left;
}

.education-right {
  grid-area: education-right;
}

.container-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "skills-title skills-title"
    "skills-left skills-right";
}

.skills-title {
  grid-area: skills-title;
}

.skills-left {
  grid-area: skills-left;
}

.skills-right {
  grid-area: skills-right;
}

/* GRIDS end */

/* DETAILS */

.avatar {
  height: auto;
  width: 10rem;
}

.container-details .section-title {
  margin-top: 5rem;
}

.container-avatar {
  height: min-content;
  position: relative;
  top: 2rem;
  right: 1rem;
}

.label {
  font-size: 1.3rem;
  color: #787878;
}

.text {
  font-size: 1.2rem;
}

/* EDUCATION */
